.btn {
  padding: 0.5rem 0.7rem;
  color: white;
  font-size: 1.6rem;

  &--edit {
    background-color: rgb(0, 131, 28);
  }

  &--remove {
    background-color: rgb(224, 156, 92);
  }

  &--done {
    background-color: steelblue;
  }

  &--failed {
    background-color: rgb(189, 0, 0);
  }

  &--clear {
    width: 100%;
    background-color: salmon;
    border-radius: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem 0;

    &:disabled {
      background-color: #eee;
      cursor: not-allowed;
    }
  }
}